libedi2edi.a

*.o
*.Po

.*.swp
.directory

odr-edi2edi

aclocal.m4
build-aux
configure
Makefile.in
Makefile
autom4te.cache
config.h
config.log
config.status
stamp-h1
config.h.in~
config.h.in
.deps
.dirstamp
*.plist

cscope.out
ctags
tags
