archive
compile_commands.json

*.o
*.Po

.*.swp
.directory
.cache

libedi2edi.a
digris-edi-tcp-converter
digris-edi-udp-converter
digris-zmq-converter

aclocal.m4
build-aux
configure
configure~
Makefile.in
Makefile
autom4te.cache
config.h
config.log
config.status
stamp-h1
config.h.in~
config.h.in
.deps
.dirstamp
*.plist

cscope.out
ctags
tags
